Form {
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 15px;
    padding-top: 100px;
    padding-bottom: 30px;
}

Form .checkbox,
.form-signUp .checkbox {
    font-weight: 400;
}

Form .form-floating:focus-within,
.form-signUp .form-floating:focus-within {
    z-index: 2;
}

Form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

Form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signUp input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signUp input[type="email"] {
    margin-bottom: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signUp input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.link-hidden {
    text-decoration: none;
}

.link-gray {
    color: gray;
}

.text-gray {
    color: gray;
}

.text-thin {
    font-weight: 200;
}

.text-right {
    text-align: right;
}

.color-light-gray {
    color: #a5a5a5;
}

.text-bold {
    font-weight: 500;
}
